{% extends "base.html" %}

{% block title %}lensoftruth.js{% block title_lensoftruth %}{% endblock %}{% endblock %}

{% block meta_description %}{% block meta_description_lensoftruth %}{% endblock %}{% endblock %}

{% block meta_keywords %}jQuery,plugin,lightweight,data,DOM,tests,lensoftruth,javascript,simple,small,debug,development,web{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lensoftruth/css/styles.css">
    {% block styles_lensoftruth %}{% endblock %}
{% endblock %}

{% block container %}
  <div class="page-header">
    <h1><img alt="lensoftruth.js" src="{{ STATIC_URL}}lensoftruth/img/lensoftruth.png"> lensoftruth.js</h1>
  </div>
  {% block container_lensoftruth %}
  {% endblock %}
{% endblock %}

{% block scripts %}{% block scripts_lensoftruth %}{% endblock %}{% endblock %}