/*
 * Resume styling.
 */
h3.name {
	line-height: 24.5px;	
}

.download-container {
	margin-top: 10px;	
}

.job-description {
	font-size: 12px;
}

.education-info {
	margin-left: 3%;
}

/*
 * Styles for the critical skills section.
 */
ul.critical-skills {
  margin: 0px;
  list-style: none;
}

ul.critical-skills li {
  display: inline-block;
  padding: 0px;
  width: 16.6%;
  padding-bottom: 5px;
}

@media (min-width: 650px) and (max-width: 979px) {
  ul.critical-skills li {
    width: 25%;
  }
}

@media (min-width: 505px) and (max-width: 649px) {
  ul.critical-skills li {
    width: 33.3%;
  }
}

@media (max-width: 504px) {
  ul.critical-skills li {
    width: 50%;
  }
}

@media (max-width: 350px) {
  span.hidden-webdev {
    display: none !important;
  }
}

.critical-skills .skill-icon {
	background-image: url('../img/resume/critical-skills.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.critical-skills .skill-icon {
		background-image: url('../img/resume/critical-skills-2x.png');
		background-size: 80px 60px;
	}
}

.critical-skills .skill-icon-webdev {
	background-position: 0 0;
}

.critical-skills .skill-icon-python {
	background-position: -20px 0px;
}

.critical-skills .skill-icon-javascript {
	background-position: -40px 0px;
}

.critical-skills .skill-icon-html {
	background-position: -60px 0px;
}

.critical-skills .skill-icon-django {
	background-position: 0px -20px;
}

.critical-skills .skill-icon-flask {
	background-position: -20px -20px;
}

.critical-skills .skill-icon-jquery {
	background-position: -40px -20px;
}

.critical-skills .skill-icon-dojo {
	background-position: -60px -20px;
}

.critical-skills .skill-icon-oracle {
	background-position: 0px -40px;
}

.critical-skills .skill-icon-postgresql {
	background-position: -20px -40px;
}

.critical-skills .skill-icon-java {
	background-position: -40px -40px;
}

.critical-skills .skill-icon-git {
	background-position: -60px -40px;
}

.critical-skills .critical-skill a:hover,  .critical-skills .critical-skill a:active, .critical-skills .critical-skill a:visited {
  text-decoration: none;
}

.critical-skills .critical-skill a:hover span {
  text-decoration: underline;
}
