/* 
 * General Body Styles
 */
body {
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5 {
	font-family: Constantia, Garamond, serif;
}

/* 
 * Nav Styles
 */
.navbar a.brand {
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-right: 10px;
}

.navbar a.brand img {
  height: 30px; 
  width: 30px; 
}
 
.user-welcome {
  line-height: 20px;
  display: inline-block;
  margin-top: 5px;
  padding: 4px 12px 4px 0px;
  vertical-align: middle;
  color: #999999;
}

/*
 * Page Header Styles
 */
.page-header h1 img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}


/* 
 * Footer Styles
 */ 
footer a {
  color: #999999;
  text-decoration: underline;
}

footer a:hover {
  color: #999999;
}

@media (max-width: 767px) {
	footer .span6 {
		margin-bottom: 0px;
		text-align: center;	
	}
}

/* 
 * Utility Classes. Some of these are used as overrides
 * for default bootstrap styling, which is why they 
 * exist in the first place.
 */
.visible-large-desktop {
  display: none !important;
}

@media(min-width: 1200px) {
	.visible-large-desktop {
		display: inherit !important;
	}
}

@media (min-width: 768px) {
  .text-right-desktop {
    text-align: right !important;      
  }
}

.monospace {
	font-family: monospace;
}

.underline {
	text-decoration: underline;
}

.relative {
	position: relative;
}

.justify {
	text-align: justify;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.margin-top-0 {
	margin-top: 0px;
}