/*
 * Styles for the main zoll_me application framework. This stuff is included in _every_
 * page load, so be gentle.
 */
body {
  padding-bottom: 40px;
}

.user-welcome {
  line-height: 20px;
  display: inline-block;
  margin-top: 5px;
  padding: 4px 12px 4px 0px;
  vertical-align: middle;
  color: #999999;
}

.page-header h1 img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

footer a {
  color: #999999;
  text-decoration: underline;
}

footer a:hover {
  color: #999999;
}

.monospace {
	font-family: monospace;
}

.relative {
	position: relative;
}

.justify {
	text-align: justify;
}

@media (max-width: 767px) {
	footer .span6 {
		margin-bottom: 0px;
		text-align: center;	
	}
}

.navbar a.brand {
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-right: 10px;
}

.navbar a.brand img {
  height: 30px; 
  width: 30px; 
}
