.projectsContainer {
	margin-bottom: 10px;
}

.project-header img {
  vertical-align: bottom;
  height: 20px;
  width: 20px;
}

.project-view {
  position: absolute;
  bottom: 0px;
}
    
.project-uses {
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .project-view {
    margin-bottom: 10px;
    position: relative;
  }
  
  .project-uses{
  	padding-bottom: 0px;
  }
  
  .projectsContainer .span4 {
  	margin-bottom: 30px;
  }
  
  .projectsContainer .span4:last-child {
  	margin-bottom: 0px;
  }
}