{% extends "base.html" %}

{% block title %}RSS Feeds{% endblock %}

{% block meta_description %}A collection of customized RSS feeds spanning a variety of topics and sources.{% endblock %}

{% block meta_keywords %}rss,rss feeds,custom,personalized,unique{% endblock %}

{% block styles %}{% block styles_rss %}{% endblock %}{% endblock %}

{% block container %}
  <div class="page-header">
    <h1><img alt="RSS Feeds" src="{{ STATIC_URL}}rss/img/rss.png"> RSS Feeds</h1>
  </div>
  {% block container_rss %}
  {% endblock %}
{% endblock %}

{% block scripts %}{% block scripts_rss %}{% endblock %}{% endblock %}