{% extends "base_form.html" %}

{% block form %}
  <form class="form-simple" method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
    {% csrf_token %}
    <h2 class="form-simple-heading">Password change</h2>
    <input type="password" name="old_password" class="input-block-level" placeholder="Current Password">
    {% if form.errors.old_password %}
      {% for error in form.errors.old_password %}
        <div class="form-simple-error">
          <div>{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}
    <input type="password" name="new_password1" class="input-block-level" placeholder="New Password">
    {% if form.errors.new_password1 %}
      {% for error in form.errors.new_password1 %}
        <div class="form-simple-error">
          <div>{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}
    <input type="password" name="new_password2" class="input-block-level" placeholder="Confirm New Password">
    {% if form.errors.new_password2 %}
      {% for error in form.errors.new_password2 %}
        <div class="form-simple-error">
          <div>{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}
    <button class="btn btn-large btn-primary" type="submit">Submit</button>
  </form>
{% endblock %}