{% extends "base_form.html" %}

{% block form %}
  <form class="form-simple" method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">
    {% csrf_token %}
    <h2 class="form-simple-heading">Password reset</h2>
    <p>Please enter your email address. You will be sent an email with a one time use link to reset your password.</p>
    <input type="text" name="email" class="input-block-level" placeholder="Email">
    <button class="btn btn-large btn-primary" type="submit">Submit</button>
  </form>
{% endblock %}