{% extends "base.html" %}

{% block title %}DK Optimize{% block title_dk %}{% endblock %}{% endblock %}

{% block meta_description %}{% block meta_description_dk %}{% endblock %}{% endblock %}

{% block meta_keywords %}visual basic, google code, svn, dk, death knight, world of warcraft, gear, calculator, optimize, zerack{% endblock %}

{% block styles %}{% block styles_dk %}{% endblock %}{% endblock %}

{% block container %}
  <div class="page-header">
    <h1><img src="{{ STATIC_URL}}dk_optimize/img/dk_optimize.png"> DK Optimize</h1>
  </div>
  {% block container_dk %}
  {% endblock %}
{% endblock %}

{% block scripts_uncompressed %}{% block scripts_uncompressed_dk %}{% endblock %}{% endblock %}
{% block scripts %}{% block scripts_dk %}{% endblock %}{% endblock %}