{% extends "base.html" %}

{% block meta_keywords %}James Zoll,Jim Zoll,Zerack,Software Engineer,Web Developer,{% for app in apps %}{{ app.name }}{% if forloop.revcounter0 != 0 %},{% endif %}{% endfor %}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}{{ apps.0.spotlight.css }}">
  <link rel="stylesheet" href="{{ STATIC_URL }}zoll_me/css/index.css">
{% endblock %}

{% block container %}
  <section class="row">
    <div class="span3">
      <div id="personalInfoWell" class="well well-small">
        <div class="name-title">
          <h2>James Zoll</h2>
          <p class="hidden-tablet">Software Engineer</p>
        </div>
        <div class="email"><i class="icon icon-envelope"></i>&nbsp;<a href="#"><noscript>Link Requires JavaScript</noscript></a></div>
        <div class="github"><i class="icon icon-blacktocat"></i>&nbsp;<a href="https://github.com/Zerack">github.com/Zerack</a></div>
        <div class="resume"><i class="icon icon-briefcase"></i>&nbsp;<a href="{% url 'zoll_me.views.resume' %}">Resume</a>&nbsp;|&nbsp;<a href="{{ STATIC_URL }}zoll_me/James_Zoll_Software_Engineer_Resume.doc" class="btn btn-mini">Download</a></div>
        <p class="text-center"><strong>Welcome! Take a look around.</strong></p>
      </div>
      <div id="newestPhotoWell" class="hidden-phone well well-small margin-bottom-0">
        <h4>Newest <span class="hidden-tablet">XBMC </span>Photo</h4> <a href="{% url 'xbmc_photos.views.view_all' page='1' %}"><span class="visible-large-desktop">more </span>&raquo;</a>
        <a href="{% url 'xbmc_photos.views.view' photo_id=newest_photo.id %}" class="img-polaroid">
          <div class="carousel-wrapper relative">
            <img src="{{ newest_photo.file_cropped.url }}?{{newest_photo.edit_date|date:'YmdHis'}}" alt="{{ newest_photo.title }}">
            <div class="carousel-caption">
              <h5>{{ newest_photo.title }}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <article class="span9 spotlight margin-bottom-0">{% include apps.0.spotlight.template with context=apps.0.spotlight.context %}</article>
  </section>
  <hr>
  <section>
    <div class="row">
      <div class="span12">
        <p class="muted"> Looking for more? Check out these projects or browse a listing of <a href="{% url 'zoll_me.views.projects' %}">All Projects &raquo;</a></p>
      </div>
    </div>
    <div id="otherProjectsContainer" class="row relative">
      {% for app in apps|slice:apps_slice %}
        <div class="span4">
          <h4 class="project-header"><img src="{{ STATIC_URL }}{{ app.icon }}" alt="{{ app.name }} Icon"> {{ app.name }}</h4>
          <p class="project-description">{{ app.description_short}}</p>   
          <p class="project-view"><a class="btn" href="{% url app.default_view %}">{{ app.button_label }} &raquo;</a></p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  	$(document).ready(function() {
  		// Insert the email link. We take a small stab at email scraping
  		// by mutilating it and inserting it with javascript.
  		var domain = 'gmail', 
  			at = '@', 
  			me = 'zolljd';
  		var address = me + at + domain + '.com';
  		$('.email a').html(address).attr('href', 'mailto:' + address);
  	});
  </script>
{% endblock %}