{% extends 'leapday/base_leapday.html' %}

{% load leapday_extras %}
{% load humanize %}

{% block title_leapday %} - {{ display_name }}{% endblock %}
{% block meta_description_leapday %}{{ display_name }} is worth {{ value|intcomma }} gold.{% if ingredients|length > 0 %} It is crafted by combining {% for i in ingredients %}{% if forloop.counter0 != 0 %}, {% endif %}{% if forloop.revcounter0 == 0 %}and {% endif %}{{ i.display_name }}{% endfor %}.{% endif %}{% endblock %}

{% block container_leapday %}
  <div class="row">
    <div class="span12" style="position: relative;">
      <i class="leapday-goods-icon leapday-goods-icon-{{ display_name|css_name }}"></i>&nbsp;<h4 class="item-title">{{ display_name }}{% if level != None %} (Level {{ level }}){% endif %}</h4>
      <p class="recipe-index-link">&nbsp;<a href="{% if hash != '' %}{% url 'leapday.views.index' hash=hash %}{% else %}{% url 'leapday.views.index' %}{% endif %}">&laquo; Recipe Index</a>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div style="margin-left: 45px;">
        <p>&nbsp;<em>{{ description }}</em></p>
        {% if ingredients|length > 0 %}
          <p>{% for i in ingredients %}<a href="{% if hash != '' %}{% url 'leapday.views.good' key=i.key hash=hash %}{% else %}{% url 'leapday.views.good' key=i.key %}{% endif %}"><i data-toggle="tooltip" title="{{ i.display_name }}{% if i.level != None %} (L{{ i.level }}){% endif %}" class="tooltip-icon leapday-goods-icon leapday-goods-icon-{{ i.display_name|css_name }}"></i></a>{% endfor %}</p>
        {% endif %}
        <p class="muted margin-bottom-0">&nbsp;Value</p>
        <p>&nbsp;{{ value|intcomma }} Gold</p>
        {% if recipe_multiplier > 0 %}
          <p class="muted margin-bottom-0">&nbsp;Recipe Multiplier</p>
          <p>&nbsp;<span class="mult-indicator">x</span>{{ recipe_multiplier|floatformat:2 }}</p>
          <p class="muted margin-bottom-0">&nbsp;Total Multiplier</p>
          <p>&nbsp;<span class="mult-indicator">x</span>{{ total_multiplier|floatformat:2 }}</p>
        {% endif %}
        <div class="base-materials-container">
          <p class="base-materials-icons">{% for material, quantity in base_materials.iteritems %}{% if quantity != 0 %}<a href="{% if hash != '' %}{% url 'leapday.views.good' key=material hash=hash %}{% else %}{% url 'leapday.views.good' key=material %}{% endif %}">{% endif %}<i {% if quantity != 0 %}data-toggle="tooltip" title="{{ material|base_good_display_name }}" class="tooltip-icon {% else %}class="leapday-goods-icon-translucent {% endif %}leapday-goods-icon leapday-goods-icon-{{ material|base_good_display_name|css_name }}"></i>{% if base_good.quantity != 0 %}</a>{% endif %}<span class="base-materials-count{% if quantity == 0 %} base-materials-count-translucent{% endif %}"><span class="mult-indicator">x</span>{{ quantity }}</span>{% endfor %}</p>
          <p class="base-materials-label muted">&nbsp;Base Materials</p>
        </div>
        <p class="muted margin-bottom-0">&nbsp;Used To Craft</p>
        {% if used_to_craft|length > 0 %}
          <p>{% for p in used_to_craft %}<a href="{% if hash != '' %}{% url 'leapday.views.good' key=p.key hash=hash %}{% else %}{% url 'leapday.views.good' key=p.key %}{% endif %}"><i data-toggle="tooltip" title="{{ p.display_name }}{% if p.level != None %} (L{{ p.level }}){% endif %}" class="tooltip-icon leapday-goods-icon leapday-goods-icon-{{ p.display_name|css_name }}"></i></a>{% endfor %}</p>
        {% else %}
          <p><em>&nbsp;None</em></p>
        {% endif %}
        <p class="muted margin-bottom-0">&nbsp;Production</p>
        <div class="production-container">
          <div class="production-tree" style="width: {{ recipe_width }}px; height: {{ recipe_height }}px;">
            {% for r in recipe_list %}
              {% for e in r %}
                {% if e.good %}
                  <i style="position:absolute; left: {{ e.left }}px; top: {{ e.top }}px" class="leapday-goods-icon leapday-goods-icon-{{ e.good.display_name|css_name }}"></i>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
          <canvas id="productionCanvas" height="{{ recipe_height }}" width="{{ recipe_width }}" class="recipe-canvas" style="width: {{ recipe_width }}px; height: {{ recipe_height }}px;"></canvas>
          {% if recipe_mults|length > 0 %}
            <div class="production-tree-mults" style="width: {{ recipe_width }}px; height: {{ recipe_height }}px;">
              {% for mult in recipe_mults %}
                <div class="production-tree-mult" style="left: {{ mult.position.0 }}px; top: {{ mult.position.1 }}px;"><span class="mult-indicator">x</span>{{ mult.mult }}</div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="production-tree-tooltips" style="width: {{ recipe_width }}px; height: {{ recipe_height }}px;">
            {% for r in recipe_list %}
              {% for e in r %}
                {% if e.good %}
                  <a href="{% if hash != '' %}{% url 'leapday.views.good' key=e.good.key hash=hash %}{% else %}{% url 'leapday.views.good' key=e.good.key %}{% endif %}"><i style="position:absolute; left: {{ e.left }}px; top: {{ e.top }}px" data-toggle="tooltip" title="{{ e.good.display_name }}{% if e.good.level != None %} (L{{ e.good.level }}){% endif %}" class="tooltip-icon leapday-goods-icon leapday-goods-icon-placeholder"></i></a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}

{% block scripts_leapday_uncompressed %}
  <!--[if lt IE 9]><script type="text/javascript" src="{{ STATIC_URL }}excanvas/excanvas.js"></script><![endif]-->
{% endblock %}
{% block scripts_leapday %}  
  <script type="text/javascript">
    $(document).ready(function() {
      // Place tooltips on any good icons that are present in the page. We attach
      // to body to prevent clipping from overflow, particularly in the recipe tree.
      $('.tooltip-icon').tooltip({placement: 'top', container: 'body'});
      
      // Beziers are written here by the template. We will
      // Draw each bezier on our canvas to connect the recipe tree.
      var recipeBeziers = [{% for rb in recipe_beziers %}[{% for x in rb %}{{ x }}{% if forloop.revcounter0 != 0 %}, {% endif %}{% endfor %}]{% if forloop.revcounter0 != 0 %}, {% endif %}{% endfor %}];
      var bezierCount = recipeBeziers.length;
      
      // Grab the canvas object and context, and setup 
      // the line style.
      var canvas = $('#productionCanvas')[0];
      var context = canvas.getContext('2d');
      
      context.strokeStyle = 'rgba(220,220,220,1)';
      context.lineWidth = 2;
      context.lineCap = 'round';
      
      // For each bezier that was put in recipeBeziers by
      // the template, draw it!
      for (var i = 0; i < bezierCount; i++) {
    	var t = recipeBeziers[i];
	    context.beginPath();
	    context.moveTo.apply(context, t.slice(0,2));
	    context.bezierCurveTo.apply(context, t.slice(2));
	    context.stroke();
      }      
      
    });
  </script>
{% endblock %}