{% extends 'leapday/base_leapday.html' %}

{% load leapday_extras %}
{% load humanize %}

{% block container_leapday %}
  <p>Every item in Leap Day is visible here to browse. If you'd like to see more detail about a specific item or recipe, just click the icon that you are interested in. Can't find what you're looking for? Use the search box to limit your results.</p>
  <form id="searchForm" class="form-search text-right">
    <div class="input-append">
      <input id="searchInput" type="text" autocomplete="off" class="span2 search-query">
      <button type="submit" class="btn"><i class="icon icon-search"></i> Search</button>
    </div>
  </form>
  <table id="recipeTable" class="table table-condensed table-striped table-bordered recipe-table">
    <thead>
      <tr>
        <th data-sort="string" class="hand"><span class="caret-after">Item</span></th>
        <th data-sort="int" data-sort-dir="desc" class="hand sorting-desc"><span class="caret-after">Value</span></th>
        <th><span class="caret-after">Recipe</span></th>
        <th data-sort="int" class="hand"><span class="caret-after">Base Materials</span><div id="filterButtonContainer" class="pull-right"><button id="filterButton" class="btn btn-mini btn-inverse"><i class="icon-white icon-filter"></i> Filter</button> <button id="clearFilterButton" class="btn btn-mini btn-inverse" disabled>Clear</button></div></th>
      </tr>
    </thead>
    <tbody>
      {% for good in goods %}
        <tr>
          <td class="item-column" data-sort-value="{{ good.display_name }}"><a class="good-detail-link" href="{% url 'leapday.views.good' key=good.key %}"><i data-toggle="tooltip" title="{{ good.display_name }}" class="tooltip-icon leapday-goods-icon leapday-goods-icon-{{ good|good_css_name }}"></i>&nbsp;<h4>{{ good.display_name }}</h4></a></td>
          <td class="value-column" data-sort-value="{{ good.value }}"><span>{{ good.value|intcomma }}</span></td>
          <td class="recipe-column">{% if good.good_type == 'goodtype_crafted' and good.key != 'goodtype_crystal' %}{% for i in good.recipe_ingredients.all %}<a href="{% url 'leapday.views.good' key=i.ingredient.key %}"><i data-toggle="tooltip" title="{{ i.ingredient.display_name }}" class="tooltip-icon leapday-goods-icon leapday-goods-icon-{{ i.ingredient|good_css_name }}"></i></a>{% endfor %}{% else  %}<span class="muted">None</span>{% endif %}</td>
          <td class="base-materials-column" data-sort-value="{{ good|base_goods_total }}"{% for base_good in good|base_goods_ordered_set %} data-filter-{{ base_good.ingredient.key }}="{% if base_good.quantity == 0 %}false{% else %}true{% endif%}"{% endfor %}>{% for base_good in good|base_goods_ordered_set %}{% if base_good.quantity != 0 %}<a href="{% url 'leapday.views.good' key=base_good.ingredient.key %}">{% endif %}<i {% if base_good.quantity != 0 %}data-toggle="tooltip" title="{{ base_good.ingredient.display_name }}" class="tooltip-icon {% else %}class="leapday-goods-icon-translucent {% endif %}leapday-goods-icon leapday-goods-icon-{{ base_good.ingredient|good_css_name }}"></i>{% if base_good.quantity != 0 %}</a>{% endif %}<span class="base-materials-count{% if base_good.quantity == 0 %} base-materials-count-translucent{% endif %}"><span class="mult-indicator">x</span>{{ base_good.quantity }}</span>{% endfor %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table style="display: none;" id="excludeTable">
    <tbody>
    </tbody>
  </table>
  <div id="filterPopoverTitle" style="display: none;"><i class="icon icon-filter"></i> Filter Recipes</div>  
  <div id="filterPopoverContent" style="display: none;">
    <div class="label-container">{% for good in basic_goods %}<label class="leapday-goods-icon leapday-goods-icon-{{ good|good_css_name }}"><input type="checkbox" value="{{ good.key }}" id="{{ good.key }}Chk" checked></label>{% endfor %}</div>
    <p>Recipes using unchecked goods will not be shown.</p>
    <p class="text-right margin-bottom-0"><button onclick="doFilter(event); " class="btn btn-small btn-inverse">Submit</button>&nbsp;<button onclick="cancelFilter(event);" class="btn btn-small">Cancel</button></p>
  </div>
{% endblock %}

{% block scripts_leapday %}
  <script type="text/javascript" src="{{ STATIC_URL }}stupidtable/stupidtable.jz.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // Place tooltips on any remove buttons that exist.
      $('.tooltip-icon').tooltip({placement: 'top'});
      
      $('#searchInput').typeahead({
        source: [{% for good in goods %}'{{ good.display_name }}'{% if forloop.revcounter0 != 0 %}, {% endif %}{% endfor %}],
        items: 10,
        minLength: 1,        
   	  });
      
      $('#filterButton').popover({
    	  html: true,
    	  placement: 'left',
    	  trigger: 'manual',
    	  title: function() { return $('#filterPopoverTitle').html(); },
    	  content: function() { return $('#filterPopoverContent').html(); },
    	  container: '#filterButtonContainer'
          }).click(function(e) {
              $(this).popover('toggle');
              $('.popover input').each(function () {
            	 var goodKey = $(this).val();
            	 if (curFilter.indexOf(goodKey) !== -1) {
            		$(this).attr('checked', false); 
            	 }
              });
              e.stopPropagation();
          });

      $(document).click(function(e) {
          $('#filterButton').popover('hide');
      });

      $('#recipeTable').stupidtable().bind('aftertablesort', function(event, data) {
    	  lastSort = data;
      });
      
      $('#filterButtonContainer').click(function(event) {
    	 event.stopPropagation(); 
      });
      
      var curSearch = '';
      var filterableGoods = [{% for good in basic_goods %}'{{ good.key }}'{% if forloop.revcounter0 != 0 %}, {% endif %}{% endfor %}];
      var curFilter = [];
      var lastSort = {column: 1, direction: 'desc'};
      var doSearchFilter = function() {
    	  console.log('Entering doSearchFilter');
    	  console.log('curSearch is "' + curSearch + '"');
    	  console.log('curFilter follows:');
    	  console.log(curFilter);
    	  // When we search / filter, we need to essentially reapply
    	  // both each time, since we're actually removing items from the
    	  // list. Finally, we need to append them to the existing table and
    	  // resort according to the current sort.
    	  
    	  // First, let's handle search.
    	  var shown = $('#recipeTable > tbody > tr');
    	  var hidden = $('#excludeTable > tbody > tr');
    	  
    	  var shownBody = $('#recipeTable tbody');
    	  var hiddenBody = $('#excludeTable tbody');
    	  
    	  shown.each(function() {
    		  var moved = false;
    		  if (curSearch !== '') {
    			  var name = $('td', this).first().data('sort-value').toLowerCase();
    			  if (name.indexOf(curSearch) === -1) {
    				  hiddenBody.append(this);
    				  moved = true;
    			  }
    		  }
    		  if (!moved && curFilter !== []) {
    			  var curRow = this;
    			  var baseCol = $('td', this).last();
    			  $.each(curFilter,function() {
    				  if (baseCol.data('filter-' + this)) {
    					  hiddenBody.append(curRow);
    					  return false;
    				  }
    			  });
    		  }
    	  });
    	  
    	  hidden.each(function() {
    		  var canShow = true;
    		  if (curSearch !== '') {
    			  var name = $('td', this).first().data('sort-value').toLowerCase();
    			  if (name.indexOf(curSearch) === -1) {
    				  canShow = false;
    			  }
    		  }
    		  
    		  if (canShow && curFilter == filterableGoods) {
    			  canShow = false;
    		  }
    		  
    		  if (canShow) {
    			  var baseCol = $('td', this).last();
    			  $.each(curFilter, function() {
    				  if (baseCol.data('filter-' + this)) {
    					  canShow = false;
    					  return false;
    				  }
    			  })
    		  }
    		  
    		  if (canShow) {
    			  shownBody.append(this);
    		  }
    	  });
    	  
    	  // Finally, sort it by calling the click event on the last sorted header.
    	  // However, before we do that, we reverse the data-sort-dir information on 
    	  // the header, so that the final result is that the sort order isn't changed, any
    	  // new rews are in teh right order.    	  
    	  $('#recipeTable th').eq(lastSort.column).data('sort-dir', lastSort.direction === 'asc' ? 'desc' : 'asc').click();
    	  
      }
      
      
      doFilter = function(e) {
    	console.log('Entering doFilter()');
    	
    	curFilter = [];
    	$('.popover input').each(function() {
    		if (!($(this).is(':checked'))) {
        		var goodKey = $(this).val();
        		curFilter.push(goodKey);
    		}    		
    	});
    	$('#filterButton').popover('hide');
    	if (curFilter != []) {
    		$('#clearFilterButton').attr('disabled', false);
    	}
    	console.log('Completed doFilter(). New filter object follows:');
    	console.log(curFilter);
    	doSearchFilter();
      };
      
      cancelFilter = function(e) {
   		$('#filterButton').popover('hide');
      }
      
      $('#searchForm').submit(function() {
    	  curSearch = $('#searchInput').val().toLowerCase();
    	  doSearchFilter();
    	  return false;
      });
      
      $('#clearFilterButton').click(function() {
    	  console.log('click');
    	  curFilter = [];
    	  $(this).attr('disabled',true);
    	  doSearchFilter();
      })
      
    });
  </script>
{% endblock %}