.leapday-goods-icon {
  display: inline-block;
  background-image: url('../img/leapday-goods-icon-ffffff.png');
  background-repeat: no-repeat;
  /*height: 54px;
  width: 45px;*/
  height: 58px;
  width: 47px;
  vertical-align: bottom;
}

.leapday-goods-icon-placeholder {
	background-image: none;
}

.leapday-goods-icon-preload {
	background-position: -9999px -9999px;
	background-repeat: no-repeat;
}

.table-striped tbody > tr:nth-child(odd) > td .leapday-goods-icon,
.table-striped tbody > tr:nth-child(odd) > th .leapday-goods-icon {
    background-image: url('../img/leapday-goods-icon-f9f9f9.png');
}

.table-hover tbody > tr:hover > td .leapday-goods-icon,
.leapday-goods-icon-hover {
	background-image: url('../img/leapday-goods-icon-ffffcc.png');
}

.leapday-goods-icon-other {
  background-position: -0px -0px;
}

.leapday-goods-icon-water {
  background-position: -47px -0px;
}

.leapday-goods-icon-food {
  background-position: -94px -0px;
}

.leapday-goods-icon-junk {
  background-position: -141px -0px;
}

.leapday-goods-icon-wood {
  background-position: -188px -0px;
}

.leapday-goods-icon-barrel {
  background-position: -235px -0px;
}

.leapday-goods-icon-stone {
  background-position: -282px -0px;
}

.leapday-goods-icon-spirits {
  background-position: -329px -0px;
}

.leapday-goods-icon-bread {
  background-position: -376px -0px;
}

.leapday-goods-icon-lumber {
  background-position: -423px -0px;
}

.leapday-goods-icon-polished-gems {
  background-position: -470px -0px;
}

.leapday-goods-icon-perfume {
  background-position: -517px -0px;
}

.leapday-goods-icon-jade {
  background-position: -564px -0px;
}

.leapday-goods-icon-onyx {
  background-position: -0px -58px;
}

.leapday-goods-icon-diamond, .leapday-goods-icon-crystal {
  background-position: -47px -58px;
}

.leapday-goods-icon-opal {
  background-position: -94px -58px;
}

.leapday-goods-icon-amber {
  background-position: -141px -58px;
}

.leapday-goods-icon-silver {
  background-position: -188px -58px;
}

.leapday-goods-icon-amethyst {
  background-position: -235px -58px;
}

.leapday-goods-icon-spices {
  background-position: -282px -58px;
}

.leapday-goods-icon-oak {
  background-position: -329px -58px;
}

.leapday-goods-icon-large-barrel {
  background-position: -376px -58px;
}

.leapday-goods-icon-sapphire {
  background-position: -423px -58px;
}

.leapday-goods-icon-ore {
  background-position: -470px -58px;
}

.leapday-goods-icon-bricks {
  background-position: -517px -58px;
}

.leapday-goods-icon-whiskey {
  background-position: -564px -58px;
}

.leapday-goods-icon-stew {
  background-position: -0px -116px;
}

.leapday-goods-icon-ruby {
  background-position: -47px -116px;
}

.leapday-goods-icon-flour {
  background-position: -94px -116px;
}

.leapday-goods-icon-chair {
  background-position: -141px -116px;
}

.leapday-goods-icon-jewelry-box {
  background-position: -188px -116px;
}

.leapday-goods-icon-shrines {
  background-position: -235px -116px;
}

.leapday-goods-icon-beer {
  background-position: -282px -116px;
}

.leapday-goods-icon-glass {
  background-position: -329px -116px;
}

.leapday-goods-icon-cooked-food {
  background-position: -376px -116px;
}

.leapday-goods-icon-black-bread {
  background-position: -423px -116px;
}

.leapday-goods-icon-potion-of-joy {
  background-position: -470px -116px;
}

.leapday-goods-icon-mulled-wine {
  background-position: -517px -116px;
}

.leapday-goods-icon-fruit-cake {
  background-position: -564px -116px;
}

.leapday-goods-icon-idols {
  background-position: -0px -174px;
}

.leapday-goods-icon-cinnamon-rolls {
  background-position: -47px -174px;
}

.leapday-goods-icon-gunpowder {
  background-position: -94px -174px;
}

.leapday-goods-icon-mana {
  background-position: -141px -174px;
}

.leapday-goods-icon-stout-barrel {
  background-position: -188px -174px;
}

.leapday-goods-icon-desk {
  background-position: -235px -174px;
}

.leapday-goods-icon-potion-of-life {
  background-position: -282px -174px;
}

.leapday-goods-icon-ring {
  background-position: -329px -174px;
}

.leapday-goods-icon-incense {
  background-position: -376px -174px;
}

.leapday-goods-icon-grog {
  background-position: -423px -174px;
}

.leapday-goods-icon-jewelry {
  background-position: -470px -174px;
}

.leapday-goods-icon-potion-of-death {
  background-position: -517px -174px;
}

.leapday-goods-icon-cat-statue {
  background-position: -564px -174px;
}

.leapday-goods-icon-chowder {
  background-position: -0px -232px;
}

.leapday-goods-icon-black-oak {
  background-position: -47px -232px;
}

.leapday-goods-icon-ice-barrel {
  background-position: -94px -232px;
}

.leapday-goods-icon-glue {
  background-position: -141px -232px;
}

.leapday-goods-icon-rock-hammers {
  background-position: -188px -232px;
}

.leapday-goods-icon-curry {
  background-position: -235px -232px;
}

.leapday-goods-icon-chili {
  background-position: -282px -232px;
}

.leapday-goods-icon-metal-ingot {
  background-position: -329px -232px;
}

.leapday-goods-icon-fire-bread {
  background-position: -376px -232px;
}

.leapday-goods-icon-stew-barrel {
  background-position: -423px -232px;
}

.leapday-goods-icon-fine-brandy {
  background-position: -470px -232px;
}

.leapday-goods-icon-fired-bricks {
  background-position: -517px -232px;
}

.leapday-goods-icon-fine-flour {
  background-position: -564px -232px;
}

.leapday-goods-icon-windows {
  background-position: -0px -290px;
}

.leapday-goods-icon-lembas-cakes {
  background-position: -47px -290px;
}

.leapday-goods-icon-spyglass {
  background-position: -94px -290px;
}

.leapday-goods-icon-luxury-food {
  background-position: -141px -290px;
}

.leapday-goods-icon-hair-cream {
  background-position: -188px -290px;
}

.leapday-goods-icon-sweet-wine {
  background-position: -235px -290px;
}

.leapday-goods-icon-crockpot {
  background-position: -282px -290px;
}

.leapday-goods-icon-rowboat {
  background-position: -329px -290px;
}

.leapday-goods-icon-iron-rations {
  background-position: -376px -290px;
}

.leapday-goods-icon-poison-ring {
  background-position: -423px -290px;
}

.leapday-goods-icon-fire-ring {
  background-position: -470px -290px;
}

.leapday-goods-icon-black-whiskey {
  background-position: -517px -290px;
}

.leapday-goods-icon-necklace {
  background-position: -564px -290px;
}

.leapday-goods-icon-stone-ring {
  background-position: -0px -348px;
}

.leapday-goods-icon-hearty-meal {
  background-position: -47px -348px;
}

.leapday-goods-icon-sweet-bread {
  background-position: -94px -348px;
}

.leapday-goods-icon-ceremonial-float {
  background-position: -141px -348px;
}

.leapday-goods-icon-prayer-stones {
  background-position: -188px -348px;
}

.leapday-goods-icon-birthday-cake {
  background-position: -235px -348px;
}

.leapday-goods-icon-magic-buns {
  background-position: -282px -348px;
}

.leapday-goods-icon-death-powder {
  background-position: -329px -348px;
}

.leapday-goods-icon-mahna-mahna {
  background-position: -376px -348px;
}

.leapday-goods-icon-flatbread {
  background-position: -423px -348px;
}

.leapday-goods-icon-earrings {
  background-position: -470px -348px;
}

.leapday-goods-icon-wine-of-joy {
  background-position: -517px -348px;
}

.leapday-goods-icon-poison-necklace {
  background-position: -564px -348px;
}

.leapday-goods-icon-fire-necklace {
  background-position: -0px -406px;
}

.leapday-goods-icon-ice {
  background-position: -47px -406px;
}

.leapday-goods-icon-black-lumber {
  background-position: -94px -406px;
}

.leapday-goods-icon-shield {
  background-position: -141px -406px;
}

.leapday-goods-icon-stone-necklace {
  background-position: -188px -406px;
}

.leapday-goods-icon-potion-of-undeath {
  background-position: -235px -406px;
}

.leapday-goods-icon-hair-elixir {
  background-position: -282px -406px;
}

.leapday-goods-icon-wine-of-death {
  background-position: -329px -406px;
}

.leapday-goods-icon-gunship {
  background-position: -376px -406px;
}

.leapday-goods-icon-pottery {
  background-position: -423px -406px;
}

.leapday-goods-icon-hammers {
  background-position: -470px -406px;
}

.leapday-goods-icon-sticky-buns {
  background-position: -517px -406px;
}

.leapday-goods-icon-dull-sceptre {
  background-position: -564px -406px;
}

.leapday-goods-icon-absinthe {
  background-position: -0px -464px;
}

.leapday-goods-icon-spirit-shield {
  background-position: -47px -464px;
}

.leapday-goods-icon-stealth-shield {
  background-position: -94px -464px;
}

.leapday-goods-icon-crystal-shield {
  background-position: -141px -464px;
}

.leapday-goods-icon-sundial {
  background-position: -188px -464px;
}

.leapday-goods-icon-bread-pudding {
  background-position: -235px -464px;
}

.leapday-goods-icon-dull-amulet {
  background-position: -282px -464px;
}

.leapday-goods-icon-dull-crown {
  background-position: -329px -464px;
}

.leapday-goods-icon-mana-orb {
  background-position: -376px -464px;
}

.leapday-goods-icon-bracelet {
  background-position: -423px -464px;
}

.leapday-goods-icon-swords {
  background-position: -470px -464px;
}

.leapday-goods-icon-fine-lumber {
  background-position: -517px -464px;
}

.leapday-goods-icon-ice-bust {
  background-position: -564px -464px;
}

.leapday-goods-icon-porcelain {
  background-position: -0px -522px;
}

.leapday-goods-icon-glowing-sceptre {
  background-position: -47px -522px;
}

.leapday-goods-icon-glowing-shield {
  background-position: -94px -522px;
}

.leapday-goods-icon-glowing-amulet {
  background-position: -141px -522px;
}

.leapday-goods-icon-sceptre {
  background-position: -188px -522px;
}

.leapday-goods-icon-shadow-crown {
  background-position: -235px -522px;
}

.leapday-goods-icon-shadow-amulet {
  background-position: -282px -522px;
}

.leapday-goods-icon-shadow-sceptre {
  background-position: -329px -522px;
}

.leapday-goods-icon-glowing-crown {
  background-position: -376px -522px;
}

.leapday-goods-icon-hammer-of-time {
  background-position: -423px -522px;
}

.leapday-goods-icon-dull-earrings {
  background-position: -470px -522px;
}

.leapday-goods-icon-chocolate-bust {
  background-position: -517px -522px;
}

.leapday-goods-icon-amulet {
  background-position: -564px -522px;
}

.leapday-goods-icon-pink-flamingo {
  background-position: -0px -580px;
}

.leapday-goods-icon-statement-bangle {
  background-position: -47px -580px;
}

.leapday-goods-icon-ice-statue {
  background-position: -94px -580px;
}

.leapday-goods-icon-wood-bust {
  background-position: -141px -580px;
}

.leapday-goods-icon-crowns {
  background-position: -188px -580px;
}

.leapday-goods-icon-sparky-pants {
  background-position: -235px -580px;
}

.leapday-goods-icon-porcelain-bust {
  background-position: -282px -580px;
}

.leapday-goods-icon-dull-armor {
  background-position: -329px -580px;
}

.leapday-goods-icon-glowing-earrings {
  background-position: -376px -580px;
}

.leapday-goods-icon-shadow-earrings {
  background-position: -423px -580px;
}

.leapday-goods-icon-chocolate-statue {
  background-position: -470px -580px;
}

.leapday-goods-icon-glowing-statue {
  background-position: -517px -580px;
}

.leapday-goods-icon-arm-party {
  background-position: -564px -580px;
}

.leapday-goods-icon-glowing-armor {
  background-position: -0px -638px;
}

.leapday-goods-icon-shadow-armor {
  background-position: -47px -638px;
}

.leapday-goods-icon-wood-statue {
  background-position: -94px -638px;
}

.leapday-goods-icon-porcelain-statue {
  background-position: -141px -638px;
}

.leapday-goods-icon-writ-of-seduction {
  background-position: -188px -638px;
}

.leapday-goods-icon-crowned-statue {
  background-position: -235px -638px;
}

.leapday-goods-icon-black-heart {
  background-position: -282px -638px;
}
