/*
 *
 * Styles for both Leap Day pages.
 *
 */
 
.leapday-goods-icon-translucent, .base-materials-count-translucent {
	opacity: 0.1;
}
 
.mult-indicator{
	font-size: 0.7em;
	line-height: 0.7em;
}

/*
 *
 * Styles for just the index page.
 *
 */

div#filterButtonContainer {
	margin-bottom: 10px;
	display: block;
}

@media (max-width: 979px) {
	div#filterButtonContainer {
		display: none;
	}
}
     
.popover {
  max-width: none;
}

.popover label {
	text-align: center; 
	margin-top: 6px; 
	margin-right: 23px; 
}

.popover div.label-container label:last-child {
	margin-right: 0px;
}

.popover label input {
	display: inline-block; 
	margin-top: -6px;
	
	/* IE 7 Fixes */
	zoom: 1;
	*display: inline;
	*vertical-align: bottom;
}

.popover .popover-content p {
	font-weight: normal;
}

ul.typeahead.dropdown-menu {
      right: 0px;
      text-align: left;
}

/* Override the existing hover color. */
.table-hover tbody tr:hover > td {
	background-color: #FFFFCC;
}

/* 
 * We can't use :first-child because the columns are in the middle
 * of the table.
 */
table td.no-border-left, table th.no-border-left {
	border-left: none;
}


/*
 * Column display media queries for the main table.
 */
@media (max-width: 600px) {
	table#recipeTable td.item-column h4 {
		font-size: 13px;
	}
}

#value-colgroup, .value-column {
	display: table-cell;
}

@media (max-width: 319px) {
	#value-colgroup, .value-column {
		display: none;
	}	
}

#recipe-colgroup, .recipe-column {
	display: table-cell;
}

@media (max-width: 567px) {
	#recipe-colgroup, .recipe-column {
		display: none;
	}
}

#base-material-colgroup, .base-material-column {
	display: none;
}

@media (min-width: 1200px) {
	#base-material-colgroup, .base-material-column {
		display: table-cell;
	}
}

/*
 * Other formatting for #recipeTable
 */
table#recipeTable tbody tr td {
	vertical-align: bottom;
}

table#recipeTable a.good-detail-link {
	color: #333333; 
	text-decoration: none;
}

table#recipeTable a.good-detail-link h4 {
	 display: inline-block;
	 margin: 0px; 
	 padding-bottom: 5px;
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 
	 /* IE 7 Fixes */
	 zoom: 1;
	 *display: inline;
	 *vertical-align: bottom;
}

table#recipeTable .value-column {
	width:75px;
}

table#recipeTable .recipe-column {
	 width: 235px;
}

table#recipeTable td.recipe-column {
	 text-align: center;
}

table#recipeTable .base-material-column {
	width: 78px;
}

table#recipeTable td.base-material-column {
	border-left: none;
	padding-left: 0px;
	padding-right: 0px;
}

table#recipeTable td.base-material-column:last-child; {
	padding-right: 5px;
}

/*
 * Again,we don't use first-child since this is actually the
 * fourth column.
 */
table#recipeTable td.base-material-column.first-base-material-column {
	border-left: 1px solid #DDDDDD;
	padding-left: 5px;
}

table#recipeTable td > span {
	display: inline-block;
	padding-bottom: 5px;
	
	/* IE 7 Fixes */
	zoom: 1;
	*display: inline;
	vertical-align: bottom;
}
 
table#recipeTable span.base-materials-count {
	width: 34px; 
	margin-left: -3px;
}

table#recipeTable th.sorting-desc span.caret-after:after {
	content: ' \25bc';
}

table#recipeTable th.sorting-asc span.caret-after:after {
	content: ' \25b2';
}

table#recipeTable th.hand {
	cursor: pointer;
}
 
/*
 *
 * Styles for just the goods detail page.
 *
 */
h4.item-title {
	display: inline-block; 
	margin: 0px; 
	padding-bottom: 5px;
	
	/* IE 7 Fixes */
	zoom: 1;
	*display: inline;
	*vertical-align: bottom;
}

p.recipe-index-link {
	margin-left: 45px; 
	margin-bottom: 0px; 
	position: absolute; 
	top: 0px; 
	left: 0px;
}
     
div.base-materials-container {
	position: relative; 
	margin-bottom: 10px;
}

p.base-materials-icons {
	margin-top: 13px;
}

.base-materials-container span.base-materials-count {
	display: inline-block;
	padding-bottom: 5px;
	width: 34px; 
	margin-left: -3px;
	
	/* IE 7 Fixes */
	zoom: 1;
	*display: inline;
	*vertical-align: bottom;
}
 

p.base-materials-label {
	 position: absolute; 
	 top: -3px; 
	 left: 0px; 
}

.production-container {
	position: relative; 
	overflow: auto;
}

.production-tree {
	position: relative;	
}

.production-tree-mults, .production-tree-tooltips, canvas#productionCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

.production-tree-mult {
	position: absolute;  
	width: 16px; 
	margin-top: -1px; 
	margin-left: -8px; 
	line-height: 14px; 
	text-align: center; 
	text-shadow: -0px -1px 0px rgba(255, 255, 0, 1.0); 
	background-color: #ffffff;
}